.flex {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &--logout {
    background-color: #ff4d4d;
    color: white;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    margin: 0;
  }
}

.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  &__container {
    width: 50%;
    min-height: 30%;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    input {
      padding: 10px;
      width: 90%;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    &__button {
      padding: 10px;
      width: 35%;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
    &__special-button {
      background-color: transparent;
      text-decoration: underline;
      border: none;
      color: #0000ee;
      &:hover {
        text-decoration: underline;
        color: #551a8b;
        cursor: pointer;
      }
    }
  }
}
